SPRING_PROFILES_ACTIVE=prod
SPRING_DATASOURCE_URL=jdbc:postgresql://aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres?sslmode=require
SPRING_DATASOURCE_USERNAME=postgres.xxxxxxx
SPRING_DATASOURCE_PASSWORD=replace-with-supabase-db-password
CLOUDAMQP_URL=amqps://ijnkanzw:replace-with-cloudamqp-password@puffin.rmq2.cloudamqp.com/ijnkanzw
